@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
}

.rbc-toolbar button {
  color: white !important;
  outline: 0 !important;
}

.rbc-toolbar button:hover {
  background: #10b9819b !important;
  outline: 0 !important;
}

.rbc-toolbar button:focus {
  background: #10b981 !important;
  outline: 0 !important;
}

.rbc-active {
  background: #10b981 !important;
}

.rbc-off-range-bg {
  background: #111827 !important;
}

.rbc-today {
  background: #374151 !important;
}
.rbc-toolbar-label {
  font-size: 1.8rem !important;
  color: #10b981 !important;
  font-weight: 700;
}

.rbc-event {
  background: #10b981 !important;
}

.rbc-day-slot .rbc-time-slot {
  border-top: 1px solid rgba(128, 128, 128, 0.267) !important;
}

textarea:focus,
input:focus {
  outline: none;
}

#muscle-group {
  text-align-last: center;
}

@media screen and (max-width: 400px) {
  .iphone-ml-left {
    margin-left: 30%;
  }
}

.figure {
  position: relative;
  width: 360px; /* can be omitted for a regular non-lazy image */
  max-width: 100%;
}
.figure img.image-hover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: contain;
  opacity: 0;
  transition: opacity 0.2s;
}
.figure:hover img.image-hover {
  opacity: 1;
}

.bg-striped-green {
  background: repeating-linear-gradient(
    45deg,
    #12d6952d,
    #12d6952d 10px,
    #4d576867 10px,
    #4d576867 20px
  );
}

@media screen and (max-width: 1400px) {
  .ipadwrap {
    flex-wrap: wrap;
    flex: 50%;
  }

  .ipadwith {
    width: 30% !important;
  }

  .paddingipad {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }

  .ipadtextsize {
    font-size: 1rem !important;
  }

  .ipadbgsize {
    width: 100% !important;
  }
}

@media screen and (max-width: 600px) {
  .paddingipad {
    padding: 0px !important;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
  }

  .iphonebgsize {
    width: 95% !important;
  }

  .iphonebg {
    width: 100% !important;
  }
}

.desktopwidth {
  width: "48%" !important;
  max-width: "29rem" !important;
}

.rbc-ellipsis,
.rbc-event-label,
.rbc-row-segment .rbc-event-content,
.rbc-show-more {
  overflow: visible !important;
  white-space: pre-wrap !important;
}
